@import (reference) 'public.less';
.box{
	padding: 0 32rpx 32rpx;
}
.scroll-view{
	width: 100%;
	height: 100%;
}
.welfareActivity-top-banner-zw{
	height: 20rpx;
}
.welfareActivity-top-banner{
	.setbg(686rpx,186rpx,'welfareActivity_top_banner.png');
	margin: 0 auto 30rpx;
}
.city {
	position: sticky;
	left: 0;
	top: 0;
	z-index: 1;
	width: 35%;
	padding: 15rpx 32rpx 0;
	background-color: #ffffff;
	.select-city{
		.select-city-inner {
			display: flex;
			align-items: center;
			view {
				font-size: 28rpx;
				color: #333333;
				max-width: 164rpx;
				height: 40rpx;
				line-height: 40rpx;
				.ellipsis;
			}
			.icon {
				margin-left: 10rpx;
				width: 16rpx;
				height: 8rpx;
			}
		}
	}
}
.box-tit{
	font-weight: bold;
	.seth(95rpx,40rpx,#333);
}
.welfareActivity-none{
	.setbg(100%,100%,'welfareActivity1.png');
	width: 100%;
	height: 373rpx;
	background-size: 670rpx 324rpx;
	background-position: top center;
	position: relative;
	.tips{
		position: absolute;
		left: 0rpx;
		bottom: 0rpx;
		width: 100%;
		color:#999999;
		font-size: 28rpx;
		text-align: center;
	}

}
.activity-list-none{
	.setbg(100%, 100%, 'welfareActivity2.png');
	margin-top: 300rpx;
	width: 100%;
	height: 373rpx;
	background-size: 686rpx 324rpx;
	background-position: top center;
	position: relative;
	.tips{
		position: absolute;
		left: 0rpx;
		bottom: 0rpx;
		width: 100%;
		color:#999999;
		font-size: 28rpx;
		text-align: center;
	}
}
.activity-list{
	.pic-text {
		position: relative;
		margin-bottom: 40rpx;
		image{
			width: 686rpx;
			height: 360rpx;
			border-radius: 20rpx;
		}
		.label{
			position: absolute;
			left: 20rpx;
			top: 20rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 158rpx;
			height: 40rpx;
			font-size: 24rpx;
			color: #FFFFFF;
			border-radius: 20rpx;
			background-color: rgba(#3C4650, 0.5);
			.logo {
				width: 29rpx;
				height: 30rpx;
			}
			.label-name {
				margin-left: 10rpx;
				font-size: 20rpx;
				color: #ffffff;
			}
		}
		.text{
			margin-top: 10rpx;
			.db(middle);
			color: #333;
			font-weight: bold;
			box-sizing: border-box;
			.ellipsis;
			max-width: 100%;
		}
		.desc {
			display: flex;
			margin-top: 10rpx;
			.left-area {
				flex: 1;
				.locationCot {
					display: inline-block;
					color: #AFB3B6;
					font-size: 24rpx;
					position: relative;
					padding-left: 32rpx;
					&::before {
						content: '';
						position: absolute;
						left: 0;
						top: 6rpx;
						.setbg(24rpx,24rpx,'location_icon.png')
					}
					.cityName {
						display: inline-block;
					}
					.line {
						margin: 0 20rpx;
						width: 1rpx;
						height: 24rpx;
						background-color: #AFB3B6;
						display: inline-block;
						vertical-align: middle;
					}
				}
				.date {
					display: inline-block;
					font-size: 24rpx;
					color: #AFB3B6;
				}
				.info {
					display: flex;
					align-items: center;
					margin-top: 10rpx;
					font-size: 24rpx;
					color: #AFB3B6;
					.num {
						color: #FA8845;
					}
					.line {
						margin: 0 20rpx;
						width: 1rpx;
						height: 24rpx;
						background-color: #AFB3B6;
					}
				}
			}
			.right-area {
				.tag {
					height: 36rpx;
					padding: 0 10rpx;
					text-align: center;
					line-height: 36rpx;
					border: 2rpx solid #FA8845;
					border-radius: 4rpx;
					font-size: 20rpx;
					color: #FA8845;
					box-sizing: border-box;
					&.before {
						border-color: #3C4650;
						color: #3C4650;
					}
					&.during {
						border-color: #FA8845;
						color: #FA8845;
					}
					&.after {
						border-color: #AFB3B6;
						color: #AFB3B6;
					}
				}
			}
		}
	}
}
.zw {
	width: 100%;
	height: 100rpx;
}
.fix-sale{
	.setIcon(90rpx,125rpx,0,41rpx);
	position: fixed;
	right: 32rpx;
	bottom: 32rpx;
}
